/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

#no-favs-message {
  font-weight: normal;
  font-size: 100%;
  margin: 20px 30px;
}

#no-stories-message {
  font-weight: normal;
  font-size: 100%;
  margin: 20px 30px;
}

ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid lightgray;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display: block;
  margin-left: 2em;
  margin-top: 0.5em;
  color: green;
}

.story-user {
  display: block;
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  color: orange;
}

#submit-form button {
  width: 6rem;
}

.not-favorite {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('https://api.iconify.design/dashicons/star-empty.svg?color=gray') no-repeat center center / contain;
}

.favorite {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('https://api.iconify.design/dashicons/star-filled.svg?color=gray') no-repeat center center / contain;
}

.remove {
  display: inline-block;
  width: 15px;
  height: 17px;
  background: url('https://api.iconify.design/dashicons/trash.svg?color=gray') no-repeat center center / contain;
}

.remove:hover {
  display: inline-block;
  width: 15px;
  height: 17px;
  background: url('https://api.iconify.design/dashicons/trash.svg?color=red') no-repeat center center / contain;
}